<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Memhub – Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/styles.css' %}">
</head>
<body>
    <img src="../../static/register/cat_lupa.png" alt="" class="bottom-left">
    <img src="../../static/register/tapaem_homyaka.png" alt="" class="top-right">

    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'register/memhub_logo.svg' %}" alt="Логотип">
    </a>

    <div class="login-box">
        <h2>Регистрация</h2>

        {% if error %}
            <div class="error form-error">
                {{ error|escape }}
            </div>
        {% endif %}
        {% if message %}
            <div class="error form-error">
                {{ message|escape }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label>
                {{ form.username }}
            </label>
            <label>
                {{ form.password }}
            </label>
            <label>
                {{ form.confirm_password }}
            </label>
            <div class="captcha-wrapper">
                {{ form.captcha.image }}
                {{ form.captcha }}
            </div>

            <button class="register">Зарегистрироваться</button>
            {% if form.errors %}
                <div class="error error-box">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>

    <script nonce="{{ request.csp_nonce }}">
        document.querySelector("form").addEventListener("submit", function() {
            const username = document.querySelector("[name='username']").value;
            sessionStorage.setItem('username', username);
        });
    </script>

    <script nonce="{{ request.csp_nonce }}">
        document.getElementById("sendCodeBtn").addEventListener("click", function () {
            fetch("/send-telegram-code/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById("sendCodeBtn").style.display = "none";
                    document.getElementById("codeError").style.display = "block";
                } else {
                    alert(data.error || "Ошибка при отправке кода");
                }
            })
            .catch(error => {
                alert("Ошибка: " + error.message);
            });
        });
        </script>

</body>
</html>
