<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Memhub – Проверка кода</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/styles.css' %}">
</head>
<body>
    <img src="../../static/register/cat_lupa.png" alt="" class="bottom-left">
    <img src="../../static/register/tapaem_homyaka.png" alt="" class="top-right">

    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'register/memhub_logo.svg' %}" alt="Логотип">
    </a>

    <div class="verify-code-box">
        <form method="POST" id="codeForm">
            {% csrf_token %}
            <div class="telegram-code-container">
                <div class="code-input-container">
                    {{ form.telegram_code }}
                </div>
                
                <button type="button" id="sendCodeBtn" class="action-btn send-code-btn">Отправить код повторно</button>
                <button type="button" id="verifyCodeBtn" class="action-btn verify-code-btn">Войти</button>
                <p id="codeError" class="code-error">
                    Если вам не приходит код, проверьте, инициализирован ли диалог с ботом
                    <a href="https://t.me/LFS_Auth_Bot" target="_blank" class="code-error-link">здесь</a>.
                </p>
            </div>
            <p id="statusMessage" class="status-message"></p>
        </form>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        {% if username %}
            sessionStorage.setItem("username", "{{ username }}");
        {% endif %}
        document.getElementById("sendCodeBtn").addEventListener("click", function() {
            const username = sessionStorage.getItem('username');
            
            fetch("/send-telegram-code/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ username: username })
            });
        });

        document.getElementById("verifyCodeBtn").addEventListener("click", async function() {
            const code = document.querySelector("input[name='telegram_code']").value;
            const statusElement = document.getElementById("statusMessage");
            const username = sessionStorage.getItem('username');

            if (!code || code.length !== 6) {
                statusElement.textContent = "Введите 6-значный код";
                statusElement.style.color = "red";
                return;
            }

            try {
                const response = await fetch("/verify-telegram-code/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({ telegram_code: code, username: username })
                });

                const data = await response.json();

                if (data.success) {
                    localStorage.setItem("access_token", data.access_token);
                    localStorage.setItem("refresh_token", data.refresh_token);

                    fetch("/reset_password/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({ access_token: data.access_token })
                    })
                    .then(res => res.json())
                    .then(result => {
                        if (result.should_change_password) {
                            window.location.href = "/users/change-password/";
                        } else {
                            window.location.href = data.redirect_url;
                        }
                    })
                    .catch(error => {
                        console.error("Ошибка при проверке флага:", error);
                        window.location.href = data.redirect_url;
                    });
                }

                else {
                    const errorMsg =
                        data.errors?.telegram_code?.[0] ||
                        data.error || "Код должен состоять только из цифр";
                    statusElement.textContent = errorMsg;
                    statusElement.style.color = "red";
                }
            } catch (error) {
                statusElement.textContent = "Ошибка соединения с сервером";
                statusElement.style.color = "red";
                console.error("Ошибка:", error);
            }
        });
    </script>

    <script nonce="{{ request.csp_nonce }}">
        document.querySelector("input[name='telegram_code']").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("verifyCodeBtn").click();
            }
        });
    </script>
</body>
</html>