<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Memhub – Изменение пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>
<body>
    <img src="../../static/register/cat_lupa.png" alt="" class="bottom-left">
    <img src="../../static/register/tapaem_homyaka.png" alt="" class="top-right">

    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'users/memhub_logo.svg' %}" alt="Логотип">
    </a>

    <div class="login-box">
        <h2>Личный кабинет<br>Изменение пароля</h2>

        <form method="POST">
            {% csrf_token %}

            <label>
                {{ form.old_password }}
            </label>
            <label>
                {{ form.new_password1 }}
            </label>
            <label>
                {{ form.new_password2 }}
            </label>

            <button type="submit">Изменить пароль</button>

            {% if form.errors %}
                <div class="error" style="color: red;
                     font-size: 16px;
                     padding: 0px;
                     text-align: center;
                     border: 1px solid black;">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
