<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ссылка недействительна</title>
    <style>
        body {
            background-color: #121212;
            color: white;
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #ED9E1D;
        }

        a {
            color: #ED9E1D;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Время действия ссылки истекло</h1>
    <p>Попросите владельца мема отправить новую ссылку.</p>
    <a href="/">На главную</a>
</body>
</html>
