<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Memhub – Личный кабинет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/styles.css' %}">
</head>
<body>
    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'register/memhub_logo.svg' %}" alt="Логотип">
    </a>

    <div class="login-box">
        <h2>Личный кабинет</h2>

        <button onclick="window.location.href='{% url 'users:change_password' %}'">Изменить пароль</button>
        <button class="register" onclick="window.location.href='{% url 'users:my_memes' %}'">Мои сохранённые мемы</button>
        
        <form method="post" action="{% url 'logout' %}" onsubmit="removeTokens()">
            {% csrf_token %}
            <button type="submit" class="exit">Выход</button>
        </form>
    </div>

    <img src="{% static 'register/cat_lupa.png' %}" alt="" class="bottom-left">
    <img src="{% static 'register/tapaem_homyaka.png' %}" alt="" class="top-right">

    <script>
        function removeTokens() {
            localStorage.removeItem("access_token");
            localStorage.removeItem("refresh_token");
        }
    </script>
</body>
</html>
