<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Memhub – Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
</head>
<body>
    <img src="../../static/users/memhub_logo.svg" alt="Логотип" class="logo">

    <div class="login-box">
        <h2>Регистрация</h2>

        <form method="POST">
            {% csrf_token %}
            <label>
                {{ form.username }}
            </label>
            <label>
                {{ form.password }}
            </label>
            <label>
                {{ form.confirm_password }}
            </label>
            <!-- <div class="telegram-code-container">
                {{ form.telegram_code }}
                <button type="button" id="sendCodeBtn">Отправить код</button>
                <p id="codeError" style="display: none; 
                    color: grey; 
                    font-size: 16px;
                    padding: 0px; 
                    text-align: center;">
                    Если вам не приходит код, проверьте, инициализирован ли диалог с ботом 
                    <a href="https://t.me/LFS_Auth_Bot" 
                        target="_blank" 
                        style="color: blue; text-decoration: underline;">здесь
                    </a>.
                </p>
            </div> -->
            <button class="register">Зарегистрироваться</button>
            {% if form.errors %}
                <div class="error" style="color: red;
                     font-size: 16px;
                     padding: 0px;
                     text-align: center;
                     border: 1px solid black;">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>


    <img src="../../static/users/cat_lupa.png" alt="" class="bottom-left">
    <img src="../../static/users/tapaem_homyaka.png" alt="" class="top-right">

    <script>
        document.querySelector("form").addEventListener("submit", function() {
            const username = document.querySelector("[name='username']").value;
            sessionStorage.setItem('username', username);
        });
    </script>

    <script>
        document.getElementById("sendCodeBtn").addEventListener("click", function() {
            let username = document.querySelector("input[name='username']").value;

            if (!username) {
                alert("Введите логин перед отправкой кода!");
                return;
            }

            fetch(`/check-telegram-user/?username=${username}`)
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        return fetch("/send-telegram-code/", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": "{{ csrf_token }}"
                            },
                            body: JSON.stringify({ username: username })
                        });
                    } else {
                        throw new Error("Пользователь с таким ником не найден!");
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById("sendCodeBtn").style.display = "none";
                        document.getElementById("codeError").style.display = "block";
                    }
                })
                .catch(error => {
                    alert(error.message);
                });
        });
        </script>

</body>
</html>
