<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мем от пользователя</title>
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'register/styles.css' %}">-->
    <style>
        body {
            background-color: #121212;
            color: white;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            padding: 40px;
        }
        img {
            max-width: 90%;
            border-radius: 15px;
            border: 4px dashed #ED9E1D;
            background: white;
        }
    </style>
</head>
<body>
    <h2>Временный доступ к мемчику</h2>
    <img src="{{ meme_image_url }}" alt="Мем">
    <p>Ссылка действует 1 час</p>
</body>
</html>